/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
.NavBar {
  text-align: center;
  margin: 3px 4px 3px 4px;
} */

.MainDisplay {
  text-align: center;
  background-color: #16868A;
}

.Accordion {
  background-color: #16868A
}

.SideContainer {
  text-align: center;
  background-color: #68E7BC;
}




.SatelliteContainer {
  text-align: center;
  background-color: #11F281;
}



.ui.menu{
  display: block;
  flex: 0 0 200px;
  margin: 3px 4px 3px 4px;
  background-color: #888;
}




/* .sidebar {
  display: block;
  flex: 0 0 200px;
  background-color: #888;
  margin: 3px 4px 3px 4px;
  box-sizing: border-box;
  border: 1px solid #888;
} */

.title.active {
  background-color: #d6d6d6;
  border-radius: 5px
}

.title {
  background-color: #f9f9f9;
  border-radius: 5px
}

.viewport-ar {
  flex: 1 1 auto;
  overflow: hidden;
  height: 100vh;
  width: 100vh;
}

/* NAVBAR */

.navbar{
  display: block;
  flex: 0 0 200px;
  margin: 3px 4px 3px 4px;
  background-color: #888;
}


/* MAINPAGE */

.main-page {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main-display-container {
  display: flex;
  flex-flow: row;
  margin: 3px 4px 3px 4px;
}

.sidetabs {
  /* display: block;
  flex: 0 0 200px; */
  height: 85vh;
  width: 20vw;
  overflow-y: auto;

  background-color: 445;
  margin: 3px 4px 3px 4px;
}

/* viewport example */
.flex-ccolumn-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.selection-container {
  background-color: 445;
}

.info-box {

}

.viewport {
  height: 85vh;
  width: 80vw;
  border-radius: 5px;
  flex: 1 1 auto;
  overflow: hidden;
}

.canvas {
  flex: 1 1 auto;
  height: 85vh;
  width:80vh;
  overflow: hidden;
} 

/* FOOTER */
.footer {
border-radius: 5px;
background-color: #888;
}