.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MAINPAGE */

.main-display {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgb(33, 204, 204);
}

.main-display-container {
  display: flex;
  flex-flow: row;
  margin: 3px 3px 3px 4px;
  /* background-color: rgb(20, 74, 74); */
}

.video {
  object-fit: fill;
  }
.sidetabs {
  min-width: 250px;
  overflow-y: auto;
  margin: 3px 4px 3px 4px;
  z-index: 1
/* 
  background-color: rgb(90, 74, 74); */
}

.ui.segment.segment {
  /* background-color: rgb(63, 63, 63); */
  /* color: white */
}


/* viewport example */
.flex-column-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  /* background-color: rgb(109, 8, 8); */
}

.selection-container {
  background-color: 445;

}

.info-box {
  position: absolute;
  bottom: 95px;
  margin-left: 10px;
  padding-right: 20px;
  /* color: wheat;
  background-color: rgb(109, 8, 8); */
}

.viewport {
  height: 85vh;
  width: 80vw;
  border-radius: 5px;
  flex: 1 1 auto;
  overflow: hidden;
  /* background-color: rgb(197, 110, 110); */
}

.canvas {
  flex: 1 1 auto;
  height: 85vh;
  width:80vh;
  overflow: hidden;
  /* background-color: rgb(1, 110, 110); */
} 

.ui.menu{
  display: block;
  flex: 0 0 200px;
  margin: 3px 4px 3px 4px;
  background-color: rgb(87, 13, 13);
}



.title.active {
  background-color: #d6d6d6;
  border-radius: 5px
}

.title {
  background-color: #f9f9f9;
  border-radius: 5px
}

.viewport-ar {
  flex: 1 1 auto;
  overflow: hidden;
  height: 100vh;
  width: 100vh;
}

/* NAVBAR */




/* FOOTER */
.footer {
border-radius: 5px;
background-color: #888;
}

.ui.menu:not(.vertical) .item {
  display: block;
  align-items: center;
  float: left;
  width: 25%;
  text-align: center;
}