.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  background-color: #7abfff;
  border-radius: 5px;
}

/* == NAVBAR == */

.nav-bar {
  display: flex;
  height: 20px;
  width: 100vw;
  margin: 15px 4px 10px 12px;
}


/* == MAINPAGE == */

.main-display {
  display: flex;
  height: calc(100vh - 50px);
  width: 100vw;
}

/* SIDETAB == */
.sidetabs {
  max-width: 350px;
  max-height: 95vh;
  overflow-y: auto;
  margin: 3px 4px 3px 4px;
}



.ui.menu .active.item {
  background: rgba(21, 129, 171, 0.4) !important;
  color: rgba(0, 0, 0, 0.95);
  font-weight: 400;
  box-shadow: none;
}

.ui.menu:not(.vertical) .item {
  float: left;
  width: 33%;
  text-align: center;
}

/* VIEWPORT == */

.viewport {
  height: calc(100vh - 50px);
  width: 80vw;
  border-radius: 5px;
  flex: 1 1 auto;
  overflow: hidden;
  margin: 3px 4px 3px 4px;
}

canvas {
  flex: 1 1 auto;
  height: calc(100vh - 50px);

  overflow: hidden;
}



.ui.vertical.center.aligned.segment {
  background-image: url("./css-assets/welcomeBackground.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* color: white */
}



.flex-column-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.selection-container {
  background-color: 445;
  z-index: 1;
}



.viewport-ar {
  flex: 1 1 auto;
  overflow: hidden;
  height: 100vh;
  width: 100vh;
}


.video {
  object-fit: fill;
}


.a.active.icon.item {
  background-color: #3f99ec;
}



.activate-ar-button {
  z-index: 1;
}


.title.active {
  background-color: #3f99ec;
  border-radius: 5px;
}

.title {
  background-color: #9bd7ffd2;
  border-radius: 5px;
  border-color: #0574bed2;
  border-width: thin;
}





/* FOOTER */
.footer {
  border-radius: 5px;
  background-color: #888;
}



/* TABS - MAIN DISPLAY*/
